body {
    margin: 0;
    padding: 0;
    left: 0;

    width: 100vw;
    height: 100vh;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: Arial, Helvetica, sans-serif;
}

canvas {
    border: 1px solid black;
}

#version {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 10px;
    font-size: 12px;
    color: #333;
}